{% extends 'base.html' %}
{% load static %}


{% block content%}


    <section class="service_section layout_padding" style="background-color: #f8f8f9;">
      <div class="service_container">
        <div class="container">
          <div class="heading_container heading_center">
            <h2>Our <span>Services</span></h2>
            <p>
              At OpenDot, we offer a range of services to help you build your online presence and achieve your business goals.

            </p>
          </div>
          <div class="row">
            <div class="col-md-4">
                <div class="box">
                    <div class="img-box">
                        <img src="{% static 'website/images/opentext.png' %}" alt="" />
                    </div>
                    <div class="detail-box">
                        <h5>OpenText Consulting
                        </h5>
                        <p class="initial-text">
                          As an OpenText Consultant team, we played a critical
                        </p>
                        <p class="additional-text" style="display: none;">
                          function in assisting companies in implementing OpenText's Enterprise Information Management (EIM) products strategically.                      </p>
                        <a href="#" class="read-more-link"> Read More </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box">
                    <div class="img-box">
                        <img src="{% static 'website/images/automation.png' %}" alt="" />
                    </div>
                    <div class="detail-box">
                        <h5>Automation
                        </h5>
                        <p class="initial-text">
                          We redefine efficiency and innovation through cutting-edge                        </p>
                        <p class="additional-text" style="display: none;">
                          IT automation solutions. With a relentless commitment to streamlining operations, optimizing workflows, and driving digital transformation, we are your trusted partner in the dynamic landscape of technology. 
                        </p>
                        <a href="#" class="read-more-link"> Read More </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box">
                    <div class="img-box">
                        <img src="{% static 'website/images/webdesign.png' %}" alt="" />
                    </div>
                    <div class="detail-box">
                        <h5>Web Designing</h5>
                        <p class="initial-text">
                          We are not just a web designing company; we are architects
                        </p>
                        <p class="additional-text" style="display: none;">
                          of digital innovation. We specialize in creating stunning, user-centric websites that not only captivate audiences but also drive tangible results for businesses. With a passion for design excellence and a commitment to pushing the boundaries of web development, we elevate your online presence to new heights.                         </p>
                        <a href="#" class="read-more-link"> Read More </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
              <div class="box">
                  <div class="img-box">
                      <img src="{% static 'website/images/itconsult.png' %}" alt="" />
                  </div>
                  <div class="detail-box">
                      <h5>IT Consulting
                      </h5>
                      <p class="initial-text">
                        Navigate the complexities of technology with our expert IT
                      </p>
                      <p class="additional-text" style="display: none;">
                        consulting services. We offer strategic guidance to align your IT infrastructure with your business goals, ensuring optimal performance and scalability.          </p>
                                     <a href="#" class="read-more-link"> Read More </a>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
            <div class="box">
                <div class="img-box">
                    <img src="{% static 'website/images/software.png' %}" alt="" />
                </div>
                <div class="detail-box">
                    <h5>Software Development</h5>
                    <p class="initial-text">
                      From concept to deployment, our software development team
                    </p>
                    <p class="additional-text" style="display: none;">
                      crafts tailor-made solutions to meet your unique requirements. Whether it's web applications, mobile apps, or enterprise software, we deliver robust and scalable solutions.               </p>
                            <a href="#" class="read-more-link"> Read More </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
          <div class="box" style="overflow: hidden;">
              <div class="img-box">
                  <img src="{% static 'website/images/cloudsolu.png' %}" alt="" />
              </div>
              <div class="detail-box">
                  <h5>Cloud Solutions </h5>
                  <p class="initial-text">
                    Unlock the full potential of cloud computing with our comprehensive
                  </p>
                  <p class="additional-text" style="display: none;">
                    cloud solutions. We specialize in cloud migration, infrastructure optimization, and developing cloud-native applications to enhance agility and reduce operational costs.              </p>
                         <a href="#" class="read-more-link"> Read More </a>
              </div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="box">
            <div class="img-box">
                <img src="{% static 'website/images/maintain.png' %}" alt="" />
            </div>
            <div class="detail-box">
                <h5>Managed IT Services
                </h5>
                <p class="initial-text">
                  Ensure the seamless operation of your IT infrastructure with
                </p>
                <p class="additional-text" style="display: none;">
                  our proactively managed IT services. We offer 24/7 monitoring, help desk support, and routine maintenance to keep your systems running at peak performance.            </p>
                       <a href="#" class="read-more-link"> Read More </a>
            </div>
        </div>
    </div>
        </div>
          <div class="btn-box">
            <a href=""> Contact Us </a>
          </div>
        </div>
      </div>
    </section>

    <!-- end service section -->
    {% endblock content%}